.weather-display-forecast {
  margin: 2rem;
  padding: 2rem;
  box-shadow: 1px 1px 7px 1px darkgrey;
  font-size: 2rem;

  background-color: ghostwhite;
}

.weather-display-weather-container {
  margin: 1rem;
  padding: 2rem;
  border: 2px lavender solid;
}

.weather-display-map-container {
  margin: 1rem;
  border: 2px solid lavender;
}