.weather-detail-element {
  width: 19%;
  display: inline-block;

  margin-left: 5px;

  text-align: center;
  border: 1px lavender solid;

  height: 100%;
}

.weather-detail-element-heading {
  border-bottom: 1px black solid;
  border-top: 2px black solid;

  background-color: lavender;
}