#forecast-page {
  width: 100%;
  padding: 2rem;

  overflow: hidden;

  border: solid black 1px;
  border-radius: 15px;

  box-shadow: 3px 2px 5px 1px black;
}

.forecast-page-nav-back {
  margin-top: 1rem;
  margin-left: 1.5rem;
}